.create-tournament-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
  border: 1px solid black;
  background-color: #ddd;
}

.create-tournament-container h2 {
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-container label {
  margin-bottom: 5px;
}

.input-container input,
.input-container select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.choose-logo-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.choose-logo-btn:hover {
  background-color: #0056b3;
}

.logo-placeholder {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-placeholder p {
  margin: 0;
  color: #999;
}

/* Added CSS for the logo preview */
.logo-preview {
  width: 100px; /* Set the width of the logo preview image */
  height: auto; /* Maintain the aspect ratio */
  margin-top: 10px; /* Add some space above the preview */
  border: 1px solid #ccc; /* Optional: border for better visibility */
  border-radius: 5px; /* Optional: rounded corners */
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.action-btn {
  padding: 10px 20px !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.create-back-btn {
  background-color: #6c757d !important;
}

.create-back-btn:hover {
  background-color: #5a6268 !important;
}

.create-next-btn {
  background-color: #007bff;
  padding: 20px 20px !important;
}

.create-next-btn:hover {
  background-color: #0056b3;
}
