/* src/AddTeams.css */

.add-teams-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.add-teams-container h2 {
  margin-top: 50px;
  font-size: 24px;
  color: #333;
}

.content-container {
  display: flex;
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  margin-top: 20px;
}

.left-side {
  flex: 1;
  padding-right: 20px;
}

.right-side {
  flex: 2;
}

.tournament-info {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.tournament-info p {
  margin: 8px 0;
  color: #333;
}

.logo-container {
  margin: 15px 0;
}

.logo-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.teams-form {
  max-height: 500px;
  overflow-y: auto;
  width: 100%;
}

.team-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.team-input {
  padding: 12px;
  border: 1px solid #333;
  border-radius: 8px;
  margin-right: 15px;
  width: 200px;
  color: #fff;
  background-color: #444;
}

.choose-team-btn, .create-team-btn {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 12px;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.choose-team-btn {
  background-color: #4a90e2;
}

.choose-team-btn:hover {
  background-color: #357ABD;
}

.create-team-btn {
  background-color: #50E3C2;
}

.create-team-btn:hover {
  background-color: #1DB954;
}

.button-container {
  display: flex;
  gap: 12px;
}

.action-btn {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  font-size: 16px;
}

.create-back-btn {
  background-color: #6c757d;
}

.create-back-btn:hover {
  background-color: #5a6268;
}

.create-tournament-btn {
  background-color: #4a90e2;
}

.create-tournament-btn:hover {
  background-color: #357ABD;
}
