
.page-container {
  display: flex;
  height: auto;
  width: 100vw;
  height: 100vh;
 
}


.sidebar {
  width: 250px;
  background-color: #333;
  border-right: 1px solid #444;
  color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 60px;
  position: fixed; 
  height: 100vh; /* Sidebar zauzima celu visinu stranice */
  overflow-y: auto; /* Dodaj overflow ako sadrži više elemenata nego što može stati na ekran */
  z-index: 1000; 
 
  


}
.sidebar .tournaments-list{
  display: flex;
  flex-direction: column;
  gap:0px;
  text-align: center;
}
.sidebar .tournaments-list .tournament-item{
  cursor: pointer;
}

.sidebar h3 {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 20px;
  color:white;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s; 
}

.sidebar li:hover {
  background-color: #444;
}

.matches-container {
  flex-grow: 1;
  padding: 30px;
  margin-top: 60px;
  margin-left: 250px;
  border-radius: 10px; /* Rounded corners */
  
}

.tournament-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  text-transform: uppercase;
  letter-spacing: 1px; 
  
}

.tournament-item {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth background transition */
}

.tournament-item:hover {
  background-color: #555; /* Darker background on hover */
}

.stage-container {
  margin-bottom: 20px;
}

.stage-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #555;
  border-bottom: 2px solid #ddd; /* Underline */
  padding-bottom: 5px;
}

.matches-list {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  gap: 15px;
}
.matches-list.final {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.matches-list.final .match-card{
  width: 50%;
}

.match-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 12px; 
  color: #333;
  background: #fff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.match-card:hover {
  transform: translateY(-5px); /* Lift up on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}



.match-info {
  flex: 1;
  font-size: 18px;
  ;
}

.match-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.start-btn, .end-btn {
  padding: 5px 10px;
  cursor: pointer;
}

.match-status,
.stats-btn,
.start-btn,
.end-btn {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;
  min-width: 120px; /* Ensures consistent width */
  text-align: center;
}
.match-status.in_progress {
  background-color: #f1c40f; /* Stronger yellow */
  color: #fff; /* White text */
}

.match-status.completed {
  background-color: #2ecc71; /* Stronger green */
  color: #fff;
}

.match-status.not_started {
  background-color: #95a5a6; /* Stronger gray */
  color: #fff;
}

.stats-btn,
.start-btn,
.end-btn {
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
}

.start-btn, .stats-btn {
  background: linear-gradient(135deg, #4CAF50, #45a049); /* Gradient background */
}

.start-btn:hover, .stats-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

.end-btn {
  background: linear-gradient(135deg, #f44336, #d32f2f); /* Gradient background */
}

.end-btn:hover {
  background-color: #d32f2f; /* Darker red on hover */
}



.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.action-btn {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 5px 3px;
  cursor: pointer;
  border-radius: 6px; 
  transition: background-color 0.3s, box-shadow 0.3s;

}

.action-btn:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

